body {
  margin: 0;
  padding: 0;
  position: fixed;
  border: 5px;
  border-style: solid;
  border-color: red;
  background-color: rgba(20, 40, 50, 0.95);
  width: 99%;
  height: 99%;
}

h1,
h3 {
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 2em;
  text-align: center;

}


.header-news-ticker {
  border: 1em;
  display:inline-flex;
  align-items: center;
}

.newsTicker-text {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: red;
  color: white;
  font-size: 1.5em;
}

.header {
  border: 1em;
  width: 100%;
  background-color: rgba(79, 70, 42, 0.778);
  display: inline-flex;
}

/* pop out continaer widgets that are links to pages or socials */
.small-widget{
  display: inline-flex;
  width: 10%;
  height:10%;
  position:fit-content;
  align-content: left;

}

/* drop down burger, that has list of items to slect */
.burg{
  display: inline-flex;
  width: 10%;
  height:10%;
  position:fit-content;
  align-content: right;
}

.container {
  display: contents;
  position: relative;
  text-align: center;
}
