/* seperate color attirbutes / functions. to a seperate color formula file that can be dynamically altered by user in accesability, change configuration of light/ dark mode...
add themes to color styles
  1. seperate all color attrubutes from elements to a individual color style file
  2. accesability features
    a. light mode, dark mode
    b. letter size
    c. color blind settings
    d. text to speach/ screen reader
  3. adjustable color themes/ wire frame shadings 

*/

h1,p, ul, li {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #817040;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
  background: url("./assets/ODST_HUD_no\ frames.png") no-repeat center center fixed;
  background-color: rgb(255, 255, 255);
  background-size: cover;
}

.UIcontainers {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "leftCont bodyCont rightCont"
    "lleft . lright";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto 4fr auto;
}

.nav-header {
  grid-area: nav;
  background:  rgba(105, 94, 62, .05) ;
  text-align: center;
  width: 30%;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}
.NavHeadingName{
  font-size:large;
  font-weight: bold;
}

.body-content {
  grid-area: bodyCont;
  position:absolute;

  align-items: center;
  top: 15%;
  left: 25%;
  right: 25%;
  width: 99vh;
  height: 70vh;
  background: rgba( 105, 94, 62, 0.15);
}
.body-text{
  font-size:medium;
}

.left-container, .right-container{
  position: absolute;
  top: 3%;
  width: 22%;
  height: 68%;
  background: rgba( 105, 94, 62, 0.15);
  
}

.left-container {
  grid-area: leftCont;
  left: .5%;
}

.l-expl{
  font-size:medium;
  text-align: start;
}

.right-container {
  grid-area: rightCont;
  right: .5%;
}

.r-expl{
  font-size:medium;
  text-align: end;

}
.lower-left, .lower-right{
  position: absolute;
  bottom: 2%;
  width: 20%;
  height: 15%;
  background: rgba( 105, 94, 62, 0.15);
}

.lower-left {
  grid-area: lleft;
  text-align: start;
  left: 1%;
}

.lower-right {
  grid-area: lright;
  text-align: end;
  right:1%;
}

.widget-container-L, .widget-container-R{
  display: flex;
}
.widget-container{
  background-color: beige;
  display:inline-flex;
  align-items: end;
  scale: 10%;
  left: 0;
  top: 1px;
  width: 50em;
  height: 50em;
}