.memBoard{
    
    width: 550px;
    height: 500px;
    padding: 2px;
    margin: 0px auto;
}
div.memBoard>div {
    background: url(tile/nomatch.jpg) ;
    border: #000 1px solid;
    width: 71px;
    height: 71px;
    float: left;
    margin: 10px;
    padding: 20px;
    font-size: 64px;
    cursor: pointer;
    text-align: center;
}

