
/* serves as a background */
/* we will overlay other HTML ellements here */
canvas {
  position: fixed;
  top: 0;
  left: 0;
}



/* 2nd overlay layer 2 with my character UI class, interactable character */
/* .characterUIoverlayL2{
  
} */

/* user interface, buttons, hyper links, that display changes the center of the site, as in chagnes in body */
/* .UIOverlayL3 {
  
} */


