/* myStyle.css */

body {
  background-color: #461e52;
  color: #dd517f;
}
h1 {
  color: #e68e36;
  text-align: left;
  font: italic 200% fantasy;
}
p {
  background-color: #556dc8;
  color: #333300;
  text-align: left;
  border: 3px groove #7998ee;
}

p {
  background-color: #556dc8;
  color: #333300;
  text-align: left;
  border: 3px groove lightcoral;
}

span {
  font-size: 3rem;
}

.shadow1 {
  margin: 40px;
  background-color: rgb(68, 68, 68); /* Needed for IEs */

  -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}
/* in style-izing this is a class
    in the class we add the title (.[name]{elements})
    later in the body we can and divs that have the same titles corolating to that class
    Ecercise 5
 */
.artist {
  font-family: Arial;
  font-size: 14pt;
  font-weight: bold;
  color: moccasin;
}

.songTitle {
  font-family: Arial;
  font-size: 14pt;
  font-weight: Normal;
  color: khaki;
}

.album {
  font-family: Arial;
  font-size: 12pt;
  font-weight: normal;
  color: khaki;
}

.year {
  font-family: Arial;
  font-size: 12pt;
  font-weight: bold;
  color: gold;
  margin-left: 2cm;
  margin-right: 2cm;
}

.background {
  color: chocolate;
}

.verse {
  font-family: Trebuchet MS;
  font-size: 14pt;
  font-weight: bold;
  color: gold;
}

.chorus {
  font-family: Trebuchet MS;
  font-size: 14pt;
  font-weight: bold italic;
  color: gold;
  margin-left: 4cm;
  margin-right: 4cm;
}
